[DEFAULT]
bantime = {{ban_time | default('1m')}}
{% if ignore_ip is defined %}
ignoreip ={{ignore_ip}}
{% endif %}


[sshd]
port = {{ssh_port | default('ssh')}}
enabled = true
{% if log_path is defined and log_path != "" %}
logpath = {{log_path}}
{% endif %}
maxretry = {{max_retry | default(5)}}
